$spacing-base       : 1rem !default;
$spacings           : (
  extra-small     : ($spacing-base / 4),
  small           : ($spacing-base / 2),
  base            : $spacing-base,
  large           : ($spacing-base * 2),
  extra-large     : ($spacing-base * 4)
) !default;
