<section class="people-container" fxLayout="column">
  <div class="people--header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="people--title">People</span>
    <div
      fxFlex="1 1 100%"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-md="center center"
      fxLayoutAlign.lt-md="end center">
      <a>View all</a>
    </div>
  </div>

  <div class="people--content">
    <app-feed
      [feeds]="peoples"
      [isLabel]="false"
      type="people"
    ></app-feed>
  </div>
</section>
