<div style="margin-bottom: 20px">
  <span class="mat-headline">Add New Document</span>
</div>
<div mat-dialog-content>
  <form
    [formGroup]="documentForm"
    fxLayout="column"
    fxLayoutGap="10px"
  >
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Your document name" />
      <mat-error>
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Author</mat-label>
      <input
        matInput
        formControlName="author"
        placeholder="Your author name"
        readonly
      />
      <mat-error>
        Author is required
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="10px">
      <div class="flex">
        <file-attachment
          [control]="documentForm.controls['url']"
          [multiple]="false"
          textButton="Select Image">
        </file-attachment>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
      <button
        mat-flat-button
        mat-dialog-close
        color="accent">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="documentForm.invalid"
        (click)="onSave()">Save</button>
    </div>
  </form>
</div>
