<div class="file-attachment--container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="w-100-p" *ngIf="files.length">
    <div
      class="w-100-p"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      *ngFor="let file of files; index as i">
      <small>{{ file.name }}</small>
      <a
        href="javascript:void(0)"
        (click)="onRemove(i)">
        <mat-icon class="clr-mat-warn">close</mat-icon>
      </a>
    </div>
  </div>

  <div class="upload-button-wrapper">
    <div class="w-100-p" fxLayoutAlign="center" fxLayoutGap="10px">
      <button
        mat-raised-button
        class="button button--brand button--outlined">
        <mat-icon>{{iconButton}}</mat-icon>
        {{textButton}}
      </button>
    </div>
    <input
      class="input"
      type="file"
      (change)="onSelectFile($event)" />
  </div>
</div>
