.social-media {
  .social-media--item {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #FAFAFA;
    color: #742a2a;
    text-decoration: none;
    display: grid;
    place-items: center;
  }
}
